


@media screen and (min-width: 320px) {
  .Displayitem_section {
   .item_image{
    width: 10%;
    cursor: pointer;
   }
}
}

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
  .search_section {
    width: 18%;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {

}

